@import "../../../../../assets/scss/partials/variables";
@import "../../../../../assets/scss/partials/colors";

ion-content {
  --overflow: auto;

  &.no-background {
    --background: var(--backgroundColorLogin) !important;
  }

  .scroll {
    height: 100%;
  }

  .scrim {
    height: 100%;
    background: rgba(0, 0, 0, 0.42);
    min-height: 100%;
    padding-top: 20px;
    margin-bottom: -60px;
    padding-bottom: 60px;
  }

  .footer {
    background: transparent;
    bottom: 0;
    width: 100%;
    position: absolute;
    // height: 60px;
  }
}
