<ion-header class="menu">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" type="button" class="back" (click)="goBack()">
        <i class="icon icon_w_icons_arrow_nav_left"></i>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ "CHANGE_PASS.title" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="img-back" [ngClass]="{'no-background': !permissionsSvc.showBackground}"
  [style]="'--background: ' + ('background' | imageEvent) + ' no-repeat center center / cover'">
  <div class="scrim">
    <woutick-logo></woutick-logo>

    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()" accept-charset="utf-8" class="form-email">
      <div class="form-group-container">
        <label class="form-label" for="email">{{"CHANGE_PASS.forgot.lbl" | translate}}</label>
        <div class="email-container">
          <input type="text" id="email" name="email" formControlName="email" class="form-input"
            placeholder='{{"CHANGE_PASS.forgot.placeholder" | translate}}'>
        </div>
      </div>
      <div class="form-group-container button">
        <button type="submit" class="submit-button" [ngClass]="{ 'disabled': isFormDisabled() }">
          {{"CHANGE_PASS.forgot.button" | translate}}
        </button>
      </div>
    </form>

    <div class="footer">
      <footer></footer>
    </div>
  </div>
</ion-content>