<div>
  <h1>CONDICIONES GENERALES DE USO</h1>
  <h3>PRESENTACIÓN</h3>
  Esta aplicación web pertenece a <p>{{legalInfoSvc.getValuesLegalInfo().name}},</p> sito en
  {{legalInfoSvc.getValuesLegalInfo().address}}, con el C.I.F. {{legalInfoSvc.getValuesLegalInfo().cif}}<span
    *ngIf="legalInfoSvc.commercial">, constituida el {{legalInfoSvc.getValuesLegalInfo().commercial.date}} con el número
    {{legalInfoSvc.getValuesLegalInfo().commercial.protocol}} de protocolo e inscrita en el
    {{legalInfoSvc.getValuesLegalInfo().commercial.register}}, tomo
    {{legalInfoSvc.getValuesLegalInfo().commercial.tome}}, folio {{legalInfoSvc.getValuesLegalInfo().commercial.folio}},
    hoja {{legalInfoSvc.getValuesLegalInfo().commercial.sheet}}</span>. De aquí en
  adelante y en conjunto con todas sus
  plataformas online y offline, <p>LA PLATAFORMA.</p>
  <br>
  <br>
  <p>AVISO</p>
  Al darte de alta en la plataforma estás aceptando que has leído y estás de acuerdo con
  nuestras Políticas de Privacidad y nuestras Condiciones de Uso, por lo que te
  recomendamos que las leas con cuidado. En caso de incidencia no podrás alegar
  desconocimiento y debes saber que el desconocimiento de las reglas no exime de su
  cumplimiento.
  <br>
  Recuerda que el incumplimiento de estas condiciones puede conllevar a la cancelación
  de tu cuenta con todo lo que esto implica: desde impedirte que uses nuestros servicios
  a la anulación de todas las operaciones que tengas en curso con nosotros y la
  disponibilidad de las entradas que hayas adquirido, incluso de los eventos pendientes
  de celebrarse. Además, de ser el caso, podremos iniciar acciones legales contra ti en
  caso de que sea necesario.

  <h3>CREAR UNA CUENTA EN LA PLATAFORMA</h3>
  Al registrarte en <p>LA PLATAFORMA</p> contarás con un panel de usuario desde el cual poder
  ver la información relativa a tus datos personales, podrás configurar las notificaciones…
  <br>
  Para poder dar de alta (registrarte) una cuenta en <p>LA PLATAFORMA</p> deberás cumplir
  algunos requisitos, que explicamos más abajo. El incumplimiento de éstos o de las
  condiciones marcadas para cada evento puede ocasionar, por ejemplo, que
  cancelemos tu cuenta con todo lo que ésto conlleva (explicado en el aviso de la
  introducción), o que iniciemos acciones legales contra ti (también explicado en el aviso
  de la introducción). No nos hacemos responsables del mal uso que des a las
  herramientas y a las plataformas que <p>LA PLATAFORMA</p> pone a tu disposición.

  <ul>
    <li>
      <p>Debes ser mayor de edad.</p> Es decir, debes disponer de capacidad legal para
      contratar los servicios que se ofertan en <p>LA PLATAFORMA</p> a la vez que debes
      poder aceptar todos los términos y condiciones.
      <br>
      <p>EXCEPCIÓN:</p> Puedes darte de alta en <p>LA PLATAFORMA</p>siendo menor de edad si
      tienes más de 14 años. Necesitarás aportarnos una autorización de
      consentimiento firmada por tus padres o tutores legales. Para enviar dicha
      autorización o para solucionar otros casos, puedes dirigirte a
      attcliente@woutick.es explicándonos tu situación.
    </li>
    <li>
      <p>Debes aportar datos reales, exactos y actualizados.</p> Además de por las
      numerosas razones de seguridad y legales que explicamos en nuestra Política de
      Privacidad, ésto es un seguro para que nadie suplante tu identidad y para poder
      dirigirnos a ti.
    </li>
    <li>
      <p>Debes guardar a buen recaudo tu información de acceso a LA PLATAFORMA.</p>
      No podemos responsabilizarnos de a quién das tus datos de usuario o tu
      contraseña de acceso, por lo que debes tener cuidado de a quién se las dejas. Si
      descubres cualquier uso no autorizado de tu cuenta, no tardes en
      comunicárnoslo para poder llevar a cabo las acciones pertinentes.
    </li>
    <li>
      <p>Debes tener una sola cuenta.</p> Para poder asegurar que tu información está a
      buen recaudo y que nadie intenta hacerse pasar por ti (entre otros factores de
      seguridad) cada usuario tendrá su cuenta única e intransferible
    </li>
    <li>
      Aceptas que <p>LA PLATAFORMA</p>, sus usuarios profesionales o sus asociados
      pueden utilizar, reproducir, editar o modificar imágenes y recursos de <p>LA PLATAFORMA</p>,
      hayan sido realizados por ellos o no, con fines promocionales o
      publicitarios sin necesidad de reembolso o contraprestación para los usuarios,
      renunciando al ejercicio de cualquier acción al respecto, en cualquier plataforma
      o medio de comunicación que considere oportuno, sin límite temporal o territorial.
      El mismo caso se aplica para los mensajes (incluídos audiovisuales) compartidos
      con <p>LA PLATAFORMA</p> de forma pública a través de sus plataformas o redes
      sociales.
    </li>
    <li>
      Al inscribirse en el evento te da derecho a asistir a un evento, si lo hubiera,
      declaras haber leído y estar de acuerdo con las condiciones de asistencia de
      dicho evento y/o del recinto donde se celebre.
    </li>
  </ul>

  <h3>LO QUE PUEDES HACER EN LA PLATAFORMA</h3>
  Recuerda que el incumplimiento de estas condiciones puede conllevar a la cancelación
  de tu cuenta con todo lo que esto implica: desde impedirte que uses nuestros servicios
  a la anulación de todas las operaciones que tengas en curso con nosotros y la
  disponibilidad de las entradas que hayas adquirido. Además, de ser el caso, podremos
  iniciar acciones legales contra ti en caso de que sea necesario.

  <ul>
    <li>
      No puedes duplicar cualquier tipo de contenido que esté alojado en nuestra
      web, salvo autorización expresa de quien haya publicado el contenido, de un
      representante acreditado o de miembros de <p>LA PLATAFORMA.</p>
    </li>
    <li>
      No puedes descargar el contenido para compartirlo con terceros, ya sea con
      intención comercial o no, salvo autorización expresa de quien haya publicado el
      contenido, de un representante acreditado o de miembros de <p>LA PLATAFORMA.</p>
    </li>
    <li>
      No podrás modificar o alterar el contenido al que se te dé acceso.
    </li>
    <li>
      No puedes establecer enlaces a la web con cualquier tipo de finalidad, salvo
      autorización expresa de <p>LA PLATAFORMA</p> o de uno de sus usuarios profesionales
      (organizadores, promotores, artistas…).
    </li>
    <li>
      No puedes ceder el uso de tu cuenta a un tercero, ni tampoco cederle la
      custodia de tus credenciales de acceso. Si descubres cualquier uso no autorizado
      de tu cuenta, no tardes en comunicárnoslo para poder llevar a cabo las acciones
      pertinentes.
    </li>
    <li>
      No puedes utilizar métodos ni herramientas que ocasionen daño a nuestro
      sistema, a nuestros proveedores, clientes o usuarios del entorno de <p>LA
        PLATAFORMA</p> (p. ej.: mensajes en cadena, spam…).
    </li>
    <li>
      No puedes aprovecharte de las herramientas que ponemos a tu disposición ni
      del contenido publicado en <p>LA PLATAFORMA</p> para generar ningún tipo de
      actividad ilícita o que pueda provocar alteraciones en nuestro sistema o su
      funcionamiento; ni tampoco usar herramientas externas, sean físicas o no, para
      ese fin.
    </li>
    <li>
      No puedes usar el contenido publicado en <p>LA PLATAFORMA</p> ni en ninguna de
      nuestras plataformas para violar la propiedad intelectual e industrial o que viole
      las leyes ahora o en el futuro.
    </li>
    <li>
      No puedes ofender, acosar o hacer apología del odio o la violencia en <p>LA PLATAFORMA</p>.
      Cualquier acción que vaya en contra del respeto o la seguridad de
      un tercero, o acciones que se consideren ilícitas en cualquier ámbito serán
      denunciadas por nuestra parte y se tomarán las medidas pertinentes.
    </li>
    <li>
      No puedes usar contenido de <p>LA PLATAFORMA</p> para llevar a cabo anuncios,
      sorteos, generar enlaces propios de venta ni llevar a cabo ningún tipo de
      promoción salvo que tengas autorización expresa de nuestra parte o del
      responsable de los recursos que quieras utilizar.
    </li>
    <li>
      No puedes utilizar ningún tipo de método o procedimiento, sea físico o no, que
      monitorice o copie nuestras plataformas o el contenido incluído en las mismas, o
      que realice cualquier acción con intenciones no autorizadas por nosotros de
      forma previa, expresa y por escrito. Esto incluye cualquier acción que suponga
      una carga desproporcionada en nuestros servidores.
    </li>
  </ul>

  Recuerda que tanto el contenido publicado en <p>LA PLATAFORMA</p> como todos sus
  sistemas están protegidos por leyes españolas e internacionales. Ésto nos permite
  perseguir comportamientos ilícitos y ejercitar acciones legales para defender nuestros
  derechos y los de nuestros clientes y usuarios. Por ser usuario registrado de <p>LA PLATAFORMA</p>
  no se te conceden derechos ni licencias, ni total ni parcialmente, sobre el
  contenido o el propio soporte.
  <br>
  <p>LA PLATAFORMA</p> es propietaria o licenciataria de todos los derechos intelectuales e
  industriales alojados en su entorno, por lo que sí puede utilizar contenido publicado por
  usuarios profesionales o no, ya que éste ha sido cedido de acuerdo con la Legislación
  Española de Derechos de Propiedad Intelectual e Industrial.

  <h3>LIMITACIÓN DE RESPONSABILIDAD</h3>
  <ul>
    <li>
      A pesar de que <p>LA PLATAFORMA</p> está desarrollada bajo un estándar de
      máxima calidad, no podemos certificar que no puedan producirse errores en los
      contenidos publicados. Tampoco podemos certificar el perfecto funcionamiento
      de las redes de comunicación, fijas o móviles que permitan a nuestra web
      interactuar con los usuarios, ya que no dependen directamente de nosotros en
      gran medida.
    </li>
    <li>
      En <p>LA PLATAFORMA</p> se publican enlaces y recursos de terceros sobre los que
      <p>LA PLATAFORMA</p> no tiene control ni responsabilidad, por lo que recomendamos
      usar sistemas seguros y cerciorarse de que las redirecciones son hacia lugares
      seguros. A pesar de ésto, siempre tratamos de revisar el contenido alojado por
      seguridad. Si localizas un fallo de seguridad en este ámbito o un uso ilícito de
      nuestras herramientas, no dudes en contactar con nosotros lo antes posible y
      trataremos de solucionarlo.
    </li>
    <li>
      <p>LA PLATAFORMA</p> no se hace responsable de las acciones, omisiones y
      conductas no lícitas de cualquier tipo de usuarios (profesionales o no),
      anunciantes o patrocinadores relativas con el servicio que prestamos a través de
      nuestras plataformas.
    </li>
    <li>
      <p>LA PLATAFORMA</p> queda exenta de toda responsabilidad en tanto a la
      modificación, edición, aplazamiento o cancelación de los eventos que ofrece, si
      los hubiere, se refiere.
    </li>
    <li>
      <p>LA PLATAFORMA</p> queda excluida de cualquier responsabilidad que pueda
      derivarse de la inclusión de cualquier mención sobre nuestra marca o entorno,
      por parte del organizador o responsable del evento, en cualquier soporte que
      pueda ser exhibido sin autorización.
    </li>
  </ul>
  <h3>SOLUCIONAR CONFLICTOS</h3>
  En caso de conflicto, las presentes Condiciones de Uso se rigen por la Ley 34/2002 de
  Servicios de la Sociedad de Información y Comercio Electrónico, la Ley 7/1998 sobre
  Condiciones Generales de Contratación del Real Decreto Legislativo 1/2007 de 16 de
  Noviembre, por el cual se aprueba el texto refundido de la Ley General para la Defensa
  de los Consumidores y Usuarios. También es aplicable la Ley 7/1996 de 15 de enero de
  Ordenación del Comercio minorista además de aquellas disposiciones legales que
  puedan ser de aplicación sobrevenida.

  <h3>MODIFICACIÓN DE LAS CONDICIONES DE USO</h3>
  Como cualquier otra modificación en las Políticas de Privacidad o en las Políticas de
  Cookies, y siguiendo el Reglamento General de Protección de Datos, las modificaciones
  de éstas serán notificadas con el tiempo suficiente como para que puedas darte de
  baja de nuestro servicio o sugerirnos cambios si no estás de acuerdo con las
  modificaciones.

  <h3>CÓMO PONERTE EN CONTACTO CON NOSOTROS</h3>
  <ul>
    <li>
      Por correo electrónico: {{legalInfoSvc.getValuesLegalInfo().email}}
    </li>
  </ul>
  Recuerda que siempre te pediremos tu información privada a través de correo
  electrónico para conservar tus datos de forma segura.
</div>