$icomoon-font-family: "woutick-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-wicons_RV: "\e9001";
$icon-wicons_Map: "\e9011";
$icon-wicons_Camping: "\e9021";
$icon-wicons_ControllerArcade: "\e9031";
$icon-internet: "\e9399";

