@import "../../../../../assets/scss/partials/variables";
@import "../../../../../assets/scss/partials/typography";

ion-content {
  --overflow: auto;
  --padding-bottom: 30px;
  height: calc(100% - 56px);

  ion-virtual-scroll,
  ion-list {
    background: transparent;
    margin-top: 20px;

    ion-item-divider {
      transform: translate3d(0px, 0px, 0px);
      background: transparent;
      border: none;

      ion-label {
        @include principal5(black);
        width: 20px;
      }

      .line {
        display: block;
        height: 2px;
        background: black;
        width: 90%;
        margin: auto;
      }
    }

    .assistant {
      --inner-border-width: 0;
      --background: transparent;
      padding-left: 10px;
      height: 70px;
      cursor: pointer;

      &:hover {
        --background: rgba(0, 0, 0, 0.1);
      }

      .profile-img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: auto 0;
        object-fit: cover;
      }

      .username-container {
        width: 100%;
        padding-left: 10px;

        ion-title {
          @include subtitulo2(black);
          display: contents;
          text-align: left;

          &.fullname {
            font-size: 18px;
            margin: 5px 0;
            height: 22px;
            text-transform: capitalize;
          }

          &.username {
            font-size: 16px;
            font-weight: 400;
            margin: 5px 0;
            height: 18px;
          }
        }
      }
    }
  }

  .no-assistants {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    display: grid;
    height: 100px;
    @include subtitulo1(rgba(0, 0, 0, 0.5));
  }
}

.search-bar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  background: transparent;
  border: 2px solid $interactive;
  border-radius: 25px;
  height: 42px;
  padding: 6px 12px;
  margin: 10px auto;
  font-size: 15px;
  background-color: white;

  .icon {
    color: $interactive;
    font-size: 27px;
  }

  input {
    font-size: 15px;
    color: black;
    border: none;
    width: 100%;
    padding-left: 0 5px;
    background-color: transparent;
  }

  button {
    padding: 0;
    height: 26px;
    width: 36px;
    background: transparent;
  }
}

@media screen and (min-width: 600px) {
  ion-list,
  ion-virtual-scroll {
    &.width-desktop {
      margin: auto;
      width: 460px;
    }
  }
}
