@import "../../../../../assets/scss/partials/variables";
@import "../../../../../assets/scss/partials/typography";

ion-select {
  background: white;
  border: 1px solid black;
  border-radius: 20px;
  height: 28px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
  font-size: 14px;
  cursor: pointer;
  border-color: $interactive;
  --placeholder-color: rgba(0, 0, 0, 0.7);
  --placeholder-opacity: 1;
}

ion-select::part(icon) {
  color: $interactive;
  opacity: 1;
}
