@import "../../../../../../../assets/scss/partials/variables";
@import "../../../../../../../assets/scss/partials/typography";

ion-button.options {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

ion-content {
  --overflow: auto;
}
