@import "../../../../../assets/scss/partials/variables";
@import "../../../../../assets/scss/partials/typography";

ion-tabs {
  ion-tab-bar {
    background: white;

    ion-tab-button {
      background-color: white;

      &.tab-selected {
        border-bottom: 5px solid $emphasis;

        ion-label {
          color: $selectedText;
          font-weight: 900;
          font-style: normal;
        }
      }

      ion-label {
        text-transform: none;
        font-size: 14px;
        color: $interactive;
        font-style: italic;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  ion-tabs {
    ion-tab-bar {
      overflow-x: scroll;
      justify-content: left;
    }
  }
}