<ion-tabs>
  <ion-tab-bar slot="top" color="light">
    <ion-tab-button tab="terms-of-use">
      <ion-label class="title">{{ "LEGAL_INFO.terms.title" | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="policies-cookies">
      <ion-label class="title">{{ "LEGAL_INFO.cookies.title" | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="policies-privacy">
      <ion-label class="title">{{ "LEGAL_INFO.privacy.title" | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>