<div>
  <h1>POLÍTICAS DE COOKIES</h1>
  <h3>¿QUÉ SON LAS COOKIES?</h3>
  Son unos pequeños procedimientos informáticos que actúan en paralelo en tu
  dispositivo para lanzar preguntas esperando respuestas cuando visitas una web. Esto
  sirve para resolver algunas variables que nos ayudan a poder entenderte mejor y así
  poder seguir mejorando.

  <h3>¿PARA QUÉ USAMOS LAS COOKIES?</h3>
  Concretamente, LA PLATAFORMA utiliza estas cookies para:

  <ul>
    <li>
      Poder darte servicio y soporte a través de nuestras plataformas.
    </li>
    <li>
      Poder adaptar la experiencia a cada usuario.
    </li>
    <li>
      Analizar cómo utilizan nuestros usuarios todo el entorno LA PLATAFORMA para
      poder seguir mejorando nuestras opciones para ti.
    </li>
  </ul>

  Si quieres, puedes desactivar el uso de cookies desde tu navegador, pero ten en cuenta
  que es posible que LA PLATAFORMA empiece a funcionar de forma rara o, directamente,
  deje de funcionar.

  <h3>MODIFICACIÓN DE LAS POLÍTICAS DE COOKIES</h3>
  Como cualquier otra modificación en las Políticas de Privacidad o en las Condiciones de
  Uso, y siguiendo el Reglamento General de Protección de Datos, las modificaciones de
  éstas serán notificadas con el tiempo suficiente como para que puedas darte de baja
  de nuestro servicio o sugerirnos cambios si no estás de acuerdo con las modificaciones.

  <h3>CÓMO PONERTE EN CONTACTO CON NOSOTROS</h3>
  <ul>
    <li>
      Por correo electrónico: {{legalInfoSvc.getValuesLegalInfo().email}}
    </li>
  </ul>
  Recuerda que siempre te pediremos tu información privada a través de correo electrónico para conservar tus datos de forma segura.
</div>