<div>
  <h1>POLÍTICA DE PRIVACIDAD</h1>
  <h3>PRESENTACIÓN</h3>
  Esta aplicación web pertenece a <p>{{legalInfoSvc.getValuesLegalInfo().name}},</p> sito en
  {{legalInfoSvc.getValuesLegalInfo().address}}, con el C.I.F. {{legalInfoSvc.getValuesLegalInfo().cif}}<span
    *ngIf="legalInfoSvc.commercial">, constituida el {{legalInfoSvc.getValuesLegalInfo().commercial.date}} con el número
    {{legalInfoSvc.getValuesLegalInfo().commercial.protocol}} de protocolo e inscrita en el
    {{legalInfoSvc.getValuesLegalInfo().commercial.register}}, tomo
    {{legalInfoSvc.getValuesLegalInfo().commercial.tome}}, folio {{legalInfoSvc.getValuesLegalInfo().commercial.folio}},
    hoja {{legalInfoSvc.getValuesLegalInfo().commercial.sheet}}</span>. De aquí en
  adelante y en conjunto con todas sus
  plataformas online y offline, <p>LA PLATAFORMA.</p>

  <h3>INTRODUCCIÓN</h3>
  Una de nuestras máximas es el tratar de ser transparentes con vosotros, por lo que es
  nuestro deber informaros que al usar nuestra web o nuestros servicios estamos
  recogiendo información sobre ti, por lo que somos responsables como empresa de
  almacenar, procesar y <p>proteger</p> todos esos datos.
  Como empresa española, trabajamos bajo el Reglamento General de Protección de
  Datos (R.G.P.D.) del 25 de mayo de 2018, al igual que el resto de empresas que trabajan
  en territorio europeo, por lo que puedes mantener la tranquilidad de que tus datos están
  a buen recaudo.
  Recuerda que cualquier usuario puede navegar tranquilamente por nuestra web, pero
  necesitaremos que te hayas <p>dado de alta en nuestra plataforma con tus datos reales.</p>
  Tal y como obliga la R.G.P.D.

  <h3>QUÉ INFORMACIÓN GUARDAMOS SOBRE TI Y CÓMO LA USAMOS</h3>
  <p> AVISO: LA PLATAFORMA</p> guarda tus datos personales en tu perfil de usuario, por
  lo que encontrarás que toda la información sensible que nos facilites estará ahí.
  Debes tener claro que el uso de información personal ajena sin su
  consentimiento es una actividad ilegal, y tú serás el único responsable de esa
  infracción.

  <ul>
    <li>
      Utilizaremos datos de las operaciones que realices a través de <p>LA PLATAFORMA</p>
      con <p>fines contables y financieros</p> , además de darnos la posibilidad de agilizar
      estos trámites en un futuro.
    </li>
    <li>
      Al utilizar <p>LA PLATAFORMA</p> tendremos disponibilidad a determinados datos
      como tu dirección IP, tu navegador o datos de ubicación (a través de la propia
      plataforma o sistemas de terceros, como por ejemplo Google Analytics) que
      usaremos con <p>fines estadísticos</p>, además de para poder darte una mejor
      experiencia.
    </li>
    <li>
      Usamos determinadas cookies de seguimiento y otra información sobre las
      preferencias de uso y explotación para aprender cómo nuestros usuarios usan
      nuestras plataformas y conocer qué es lo que más les atrae de nuestras ofertas o
      funcionalidades. Es decir, <p>queremos evolucionar de la forma que más os favorezca</p>.
    </li>
    <li>
      Con fines relacionados con el cumplimiento de las normas y leyes,
      <p>previniendo prácticas ilegales y protegiendo tus derechos y seguridad</p>, y con
      otros fines relacionados con el marketing, podemos guardar información sobre
      cómo te relacionas con nosotros o con cualquier otro usuario de nuestras
      plataformas, así como a través de redes sociales y otras plataformas de terceros
      vinculadas a nosotros y a las que tengamos acceso. Ten en cuenta que <p>eres
        responsable</p> de todo lo que publiques, sea en nuestras plataformas o en las de
      terceros y no tienes potestad de violar o abanderarte de los derechos de otras
      personas, incluyendo su derecho a la privacidad. <br>
      Además, podremos <p>usar, reproducir o re-publicar</p> en los medios que
      consideremos cualquier dato que compartas de forma pública en nuestras
      plataformas, redes sociales o plataformas de terceros vinculadas a nosotros a las
      que tengamos acceso y estás permitiendo que otras empresas vinculadas a
      nosotros, como por ejemplo empresas organizadoras de eventos o nuestros
      partners, puedan hacer lo mismo. Recuerda que ese contenido <p>es de tu
        propiedad y de tu responsabilidad.</p>
    </li>
    <li>
      Eres <p>responsable de darnos siempre datos veraces y actuales</p> ya que
      queremos poder darte un soporte personalizado y fiable, además de evitar que
      otra persona te suplante. <br>
      Si necesitáramos comprobar la veracidad de tus datos o completarlos (como se
      nos pide por la R.G.P.D.) podremos cruzarlos con otras bases de datos públicas o
      solicitarte una comprobación directamente.
    </li>
    <li>
      Podrás configurar tus preferencias respecto a las diferentes notificaciones
      comerciales, ofertas y al contenido que quieres recibir a través de <p>LA PLATAFORMA</p> , pero
      <p>hay notificaciones especiales que no pueden ser configuradas</p>, como las referentes al estado de un evento al
      que vayas a asistir o
      las que tengan que ver con motivos legales o normativos (como actualización o
      cambios de estas políticas y nuestras condiciones de uso, por ejemplo).
    </li>
  </ul>

  <h3>INFORMACIÓN COMPARTIDA CON TERCEROS</h3>
  En términos generales, <p>LA PLATAFORMA</p> se compromete a no ceder, vender, ni compartir
  los datos con terceros, salvo casos excepcionales. Recuerda que <p>LA PLATAFORMA</p> no es
  responsable del tratamiento o conservación que estos terceros estén haciendo de tus
  datos personales. Sin embargo, sí estamos obligados a hacer saber a éstos las
  solicitudes que hagas sobre tus derechos en caso de ser necesario.
  <ul>
    <li>
      Para poder proporcionarte algunos de nuestros servicios o soporte técnico,
      <p>necesitaremos compartir información sobre ti con terceros</p>. Pero tranquilidad:
      para asegurar tu privacidad y seguridad, siempre <p>llevaremos a cabo un contrato
        previo</p> que obligue a esa otra parte a cumplir con los requisitos legales del
      R.G.P.D.
      <br>
      Además, estaremos obligados a compartir esa información con organismos
      oficiales como la Hacienda Pública, la Administración Judicial o los Cuerpos de
      Seguridad del Estado si la solicitan, con el fin de colaborar en la persecución de
      determinados delitos. Esta es otra de las razones por las que se nos exige que la
      información que nos compartas sobre ti sea <p>veraz y actual.</p>
    </li>
    <li>
      En <p>LA PLATAFORMA</p> hay enlaces a webs que no son propias, por lo que debes
      recordar que al salir de nuestras plataformas o de nuestro sistema, nuestras
      políticas de privacidad y de cookies dejan de aplicarse y dependerás de aquellas
      que se apliquen allá a donde sea que estés accediendo, por lo que te
      recomendamos que también consultes sus términos legales.
    </li>
  </ul>

  <h3>TUS DERECHOS SOBRE TUS DATOS Y CÓMO USARLOS</h3>
  Tus derechos son todos los recogidos por el Reglamento General de Protección de
  Datos. Recuerda que para poder ejercerlos de forma oficial, nos vemos obligados por ley
  a solicitarte lo siguiente: fotocopia del DNI, petición en la que concretas la solicitud,
  dirección a la que dirigirnos para mantenerte al tanto de dicha solicitud y documentos
  acreditativos en caso de necesitarlos.

  <h6>
    <p>Derecho de Acceso:</p>
  </h6>

  Podrás ver la información personal que usamos sobre ti.
  En este caso, ponemos a tu disposición tu perfil de usuario, que guarda todos los datos
  que nos hayas otorgado.

  <h6>
    <p>Derecho de Rectificación:</p>
  </h6>

  Podrás solicitar la modificación de datos que sean inexactos o incompletos.
  Desde tu perfil de usuario podrás modificar algunos de estos datos. Para modificar otros,
  por motivos de seguridad, necesitaremos ponernos en contacto contigo para justificar
  el cambio. Podrás hacerlo a través de nuestro correo attcliente@woutick.es o seguir las
  instrucciones que encontrarás en tu perfil.

  <h6>
    <p>Derecho de Cancelación:</p>
  </h6>

  Podrás suprimir datos que resulten inadecuados o excesivos.
  Una vez más, desde tu perfil de usuario o a través de nuestro correo
  foroempleouvigo@gmail.com o siguiendo las instrucciones que encontrarás en tu perfil,
  podrás hacerlo.

  Ten en mente que para poder tener una cuenta en <p>LA PLATAFORMA</p> es posible que
  necesitemos hacer uso de algunos de esos datos personales, por lo que si eliminas
  algunos de los siguientes, es posible que nos veamos obligados a cancelar tu cuenta:

  <ul>
    <li>
      Nombre y Apellidos completos: necesitamos saber quién eres por motivos
      legales y para poder ponernos en contacto contigo.
    </li>
    <li>
      Fecha de nacimiento: necesitamos saber tu edad para saber si necesitamos
      pedir autorización a tus padres o tutores y para limitar las opciones de eventos en
      tus recomendaciones, como los dirigidos a un público adulto.
    </li>
    <li>
      Dirección de correo electrónico: necesitamos una forma de ponernos en
      contacto contigo. Creemos que el correo electrónico es lo suficientemente
      estándar como para no sacrificar aún más tu privacidad y poder así enviarte
      archivos como las entradas que compres. Además, sirve como identificador de tu
      persona en la web y como alias para acceder a tu cuenta (aunque podrás
      asignarte un nombre de usuario que te identifique para sustituir tu correo
      electrónico en esta última funcionalidad).
    </li>
  </ul>


  <h6>
    <p>Derecho de Oposición:</p>
  </h6>

  Podrás oponerte directamente al tratamiento de tus datos personales o al cese de uso
  de éstos siempre que no sean necesarios, se usen únicamente con fines publicitarios o
  que lo necesites.
  <br>
  Ten en cuenta que hay algunos de los datos, como los referidos a transacciones
  monetarias, si las hubiese, que serán almacenados durante el tiempo que se nos exija
  por ley independientemente de tu solicitud.

  <h6>
    <p>Derecho de Portabilidad:</p>
  </h6>

  Si lo necesitas, podemos hacerte llegar a ti o a un tercero tus datos personales en un
  formato legible.

  <h6>
    <p>Derecho al Olvido:</p>
  </h6>

  Siempre que retires el consentimiento al tratamiento de tus datos, éstos ya no sean
  necesarios conforme a su finalidad o se hayan tratado de forma ilícita, podrás solicitar
  la supresión total de tus datos personales. Este derecho está muy relacionado con el de
  cancelación y el de oposición, por lo que imaginarás que hay datos que nos obligan a
  mantener durante un tiempo prudencial, pero haremos efectivo tus derechos en cuanto
  este tiempo haya finalizado.
  <br>
  En caso de que los datos estén siendo usados por un tercero, nos ocuparemos de
  transmitir tu solicitud a éste, pero no seremos responsables del incumplimiento del
  R.G.P.D. por su parte.

  <h3>A PARTIR DE QUÉ EDAD PUEDES TENER UNA CUENTA EN LA PLATAFORMA</h3>
  Siguiendo lo ordenado en el Reglamento General de Protección de Datos dentro del
  territorio español, puedes crear una cuenta a partir de los 14 años, pero deberás aportar
  una autorización de consentimiento firmada por tus padres o tutores legales si eres
  menor de 18 años.
  Para enviar dicha autorización o para solventar otros casos, puedes dirigirte a
  foroempleouvigo@gmail.com explicándonos tu situación.

  <h3>MODIFICACIÓN DE LAS POLÍTICAS DE PRIVACIDAD</h3>
  Como cualquier otra modificación en las Condiciones de Uso o en las Políticas de
  Cookies, y siguiendo el Reglamento General de Protección de Datos, las modificaciones
  de éstas serán notificadas con el tiempo suficiente como para que puedas darte de
  baja de nuestro servicio o sugerirnos cambios si no estás de acuerdo con las
  modificaciones.

  <h3>CÓMO PONERTE EN CONTACTO CON NOSOTROS</h3>
  <ul>
    <li>Por correo electrónico: {{legalInfoSvc.getValuesLegalInfo().email}}</li>
  </ul>

  Recuerda que siempre te pediremos tu información privada a través de correo
  electrónico para conservar tus datos de forma segura.
</div>