@import "../../../../../assets/scss/partials/variables";
@import "../../../../../assets/scss/partials/typography";

ion-title {
  @include cuerpoTexto1(black);
  margin: 0;
  padding: 20px;
  width: auto;
  height: auto;

  &.no-value {
    font-style: italic;
  }
}

ion-content {
  --overflow: auto;
}

ion-footer {
  bottom: 0;
  width: 100%;
}

ion-text-area {
  color: black;
}

.msg-btn {
  --padding-start: 10px;
  --padding-end: 10px;
  --border-radius: 50%;
}

.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 6px;
  background: #fff;
  resize: none;
  margin-top: 0px;
  --padding-start: 8px;
}

.message {
  padding: 10px !important;
  border-radius: 10px !important;
  margin-bottom: 4px !important;
  white-space: pre-wrap;
}

.my-message {
  color: black;
  background-color: transparent;
  .username {
    font-weight: 600;
    color: var(--ion-color-secondary);
  }
}

.other-message {
  color: black;
  background-color: transparent;
  .username {
    font-weight: 600;
    color: var(--ion-color-tertiary);
  }
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}
