<ion-header class="menu">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" type="button" class="back" (click)="goBack()">
        <i class="icon icon_w_icons_arrow_nav_left"></i>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ "CHANGE_PASS.title" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="img-back" [ngClass]="{'no-background': !permissionsSvc.showBackground}"
[style]="'--background: ' + ('background' | imageEvent) + ' no-repeat center center / cover'">
  <div class="scrim">
    <woutick-logo></woutick-logo>
    <form-password (savePassEvent)="goToEditProfile()"></form-password>
    <div class="footer">
      <footer></footer>
    </div>
  </div>
</ion-content>